<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Dino Page</title>
  </head>
  <body>
  <section class="dinos">
    <ul class="dinoList">
    </ul>
  </section>
  <script src="/main.js" charset="utf-8"></script>
  </body>
</html>
