<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit the Dino</title>
  </head>
  <body>
    <h2>Edit a Dino!</h2>
    <h3 class='error'></h3>
    <div class="editWrapper">

    </div>
    <script src="/editDino.js" charset="utf-8"></script>
  </body>
</html>
