<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Dino</title>
  </head>
  <body>
    <section>
      <div class="personalList">
      </div>
    </section>
    <script src="/profileDino.js" charset="utf-8"></script>
  </body>
</html>
